<h1 id="-unblock-cmx">长毛象中文站免翻墙镜像 - Unblock CMX</h1>
<p><a href="https://m.cmx.im">CMX.im</a> 是一个运行Mastodon的Fediverse实例，Mastodon是一个开源软件，允许用户运行自我托管的社交网络服务。本页是为无法直接访问<a href="https://m.cmx.im">CMX.im</a>且没有VPN的中国用户准备的镜像列表。</p>
<p><a href="https://m.cmx.im">CMX.im</a> is a Fediverse instance that runs Mastodon, an open-source software that allows users to run self-hosted social networking services. This page is a list of mirrors prepared for China-based users who are unable to access <a href="https://m.cmx.im">CMX.im</a> directly and don&#39;t have a VPN.</p>
<h2 id="-active-mirrors">可用镜像 - Active Mirrors</h2>
<table>
<thead>
<tr>
<th>URL</th>
<th>Provider</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://cmx.dyn.ch">https://cmx.dyn.ch</a></td>
<td>Cloudflare AS13335</td>
</tr>
</tbody>
</table>
<h2 id="-usage">使用说明 - Usage</h2>
<p>中国用户访问本站的最优方式仍然是挂载VPN或代理服务（即“翻墙”），如果您不打算翻墙，请使用本页面提供的镜像访问本站。镜像仅仅是一个用来登录本站的备用域名，如在长毛象中文站已经有账号，请直接用原账号登录，无需在镜像站注册账号。在手机应用中，你可以使用镜像域名作为登录的实例域名。</p>
<p>The best way for Chinese users to access this site is still to use a VPN or proxy service, if you do not wish to use them, please use the mirror provided by this page to access this site. The mirror is only an alternate domain name used to log in to our site, if you already have an account at Mastodon Chinese, please log in directly with your original account, no need to register an account at the mirror. In the mobile app, you can use the mirror domain name as an instance domain name for login.</p>
<h2 id="-contact-the-admin">联系管理员 - Contact the Admin</h2>
<p>如果上述任何镜像在中国被封锁（请用这个<a href="https://blocky.greatfire.org/">工具</a>测试），请私信管理员<a href="https://m.cmx.im/@strawberry">@草莓酱</a>，因为她可能不知道发生了什么事。祝你使用愉快!</p>
<p>If any of the above mirrors are blocked in China (test with this <a href="https://blocky.greatfire.org/">tool</a>), please kindly DM the admin <a href="https://m.cmx.im/@strawberry">@strawberry</a> who might have no idea what&#39;s going on. Happy tooting!</p>
<h2 id="-deprecated-mirrors">已弃用镜像 - Deprecated Mirrors</h2>
<table>
<thead>
<tr>
<th>URL</th>
<th>Provider</th>
</tr>
</thead>
<tbody>
<tr>
<td><del><a href="https://cmx-im.work">https://cmx-im.work</a></del> 被墙</td>
<td>Microsoft AS8075</td>
</tr>
<tr>
<td><del><a href="https://strawberry.govt.hu">https://strawberry.govt.hu</a></del> 被墙</td>
<td>Cloudflare AS13335</td>
</tr>
<tr>
<td><del><a href="https://cmx.dyn.mk">https://cmx.dyn.mk</a></del></td>
<td>CN2-GIA</td>
</tr>
<tr>
<td><del><a href="https://mast.blackfalds.com">https://mast.blackfalds.com</a></del></td>
<td>Cloudflare</td>
</tr>
<tr>
<td><del><a href="https://cmx.pp.ua">https://cmx.pp.ua</a></del>被墙</td>
<td>CN2-GIA</td>
</tr>
</tbody>
</table>
